.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cell {
  padding: 2px;
  font-size: 2em;
  width: 1em;
  height: 1em;
  text-align: center;
  cursor: default;
}

.active-cell {
  transition: all 0.3s;
}

.active-cell:hover {
  transform: scale(1.2);
}

.mine-board {
  align: center;
}

.growing-cell-appear {
  transform: scale(0.5);
  transition: all 1s ease-out;
}

.growing-cell-appear.growing-cell-appear-active {
  transform: scale(1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
